<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="/stylesheets/detallePeli.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <meta charset="utf-8">
    <title>The Movie Planet</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">

      <a class="navbar-brand" href="/movies/Home"> <img src="/images/logo.png" class="loguito" alt=""> </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/movies/ListadoDeGeneros">Genres<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/login" uk-toggle>My Reviews<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" uk-toggle>Reviews<span class="sr-only">(current)</span></a>
          <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
                <li><a href="/movies/topRated">Top Rated</a></li>
                <li><a href="/movies/bottomRated">Bottom Rated</a></li>
                <li><a href="/movies/recentReviews">Recent</a></li>
            </ul>
        </div>
        </li>
      </ul>

      <div class="uk-margin">
        <form method="get" action="/movies/ResultadoDelBuscador" class="uk-search uk-search-default uk-navbar-item" style="width: 193px; padding-left: 0px;">
          <a href="/movies/ResultadoDelBuscador" class="uk-search-icon-flip" style="width: 72px;" uk-search-icon></a>
                        <input class="uk-search-input" name="q" type="search" placeholder="Search for movies" aria-label="Search" >
        </form>
      </div>
      
      <div class="uk-margin">
        <form method="get" action="/search/userResults" class="uk-search uk-search-default uk-navbar-item" style="width: 190px; padding-left: 0%;">
          <a href="/search/userResults" class="uk-search-icon-flip" style="width: 72px;" uk-search-icon></a>
          <input class="uk-search-input" name="q" type="search" placeholder="Search for users" aria-label="Search">
        </form>
      </div>
      
  </nav>
    </header>

    <section>
      <aside class="posterPelicula">
        </aside>
      <h2 class="titulos"></h2>
      <div class="genero">
        <p>This movie belongs to the following genres:</p>
      </div>

        <div class= detalles>

        </div>
      <div class="lenguajes">
        <h2>Available languages</h2>
        <ul>

        </ul>

      </div>
      <div class="sinopsis">
        <h2>Overview</h2>
        <p>
        </p>
      </div>

      <div class="fechaEstreno">
        <h2>Release date: <span></span></h2>

      </div>


      </div>

      <div class="trailer">
        <button class="uk-button uk-button-default uk-margin uk-button-secondary" type="button" uk-toggle="target: +">Watch trailer</button>
        <iframe class="Video" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen controls playsinline hidden uk-video></iframe>

      </div>

      <div class="BotonVerRecomendaciones">
      <!-- boton sacado de uikit -->
        <button id="VerRecomendaciones" class="uk-button uk-button-default uk-button-secondary" style="margin-top:35px" type="button" uk-toggle="target: +"> Recommended for you</button>
        <br>
        <br>
        <div class="Recomendadas">
          <!--   UIKIT para que slider -->
          <div class="uk-position-relative uk-visible-toggle uk-light slider VerRecomendaciones" tabindex="-1" uk-slider>
           <ul id="peliculasRecomendadas" class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m peliculasRecomendadas">
           </ul>
           <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
            uk-slidenav-previous uk-slider-item="previous"></a>
           <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
            uk-slidenav-next uk-slider-item="next"></a>
       </div>
</div>
</div>

        <div class="reviews uk-card-small uk-card-body tarjetaReview">
          <h2>Watched the movie? Write a review:</h2>
        <form class="score" action="/review" method="POST">
          <input type="hidden" name="idDePeli" value="<%=idDePeli%>"> 
            <div class="uk-margin">
              <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: mail"></span>
                  <input class="uk-input" type="text" name="email" placeholder="E-mail" value="" required>
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: lock"></span>
                  <input class="uk-input" type="password" name="password" placeholder="Password" value="" required>
              </div>
            </div>
            <div class="uk-width-1-2@s uk-align-center">
              <textarea class="uk-textarea" name="text" placeholder="Write your review here..." required></textarea>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label" for="form-horizontal-text">Score /10:</label>
              <br>
              <input class="uk-range uk-width-1-2@s" name="score" type="range" value="2" min="0" max="10" step="1">
          </div>
            <br>
            <button class="uk-button uk-button-primary" type="submit">Send</button> <br>
          
        </form>
        </div>
      <br>
      
      <% if (reviews.length > 0) { %>
        <div class="review">
          <h2>Reviews:</h2>
        </div>
        <% for( let i = 0; i < reviews.length; i++ ) { %>
        <div class="uk-card uk-card-default uk-width-1-2@m userReview">
          <div class="uk-card-header" style="margin-top: 10px;">
            <div class="uk-card-badge uk-label uk-margin-bottom">
              Score: <%= reviews[i].rating %>
              </div>
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="/images/avatar.png">
              </div>
              <div class="uk-width-expand">
              <!-- user.name viene de la asociacion en el moviecontroller con la tabla de users de nuestra base de datos para poder utilizar sus datos de los que solo tenemos la FK en la tabla reviews -->
                <h3 class="uk-card-title uk-margin-remove-bottom"><%=reviews[i].user.name %></h3>
                <p class="uk-text-meta uk-margin-remove-top">Created at: <%=reviews[i].created_at %></p>
                <p class="uk-text-meta uk-margin-remove-top" >Last updated: <%=reviews[i].updated_at %></p>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p><%=reviews[i].review_text %></p>
          </div>
        </div>
        <% } %>
      <% } %>

    </section>
<br>
<br>
    <footer>
      <img src="/images/tmdblogo.png" class="tmdblogo">

      <div class="nombres">
      <ul>
        <li>SOL RODRIGUEZ ARANCIBIA</li>
        <br>
        <li>EMA JUAREZ</li>
      </ul>
    </div>
         </div>

   </footer>


  </body>
<script type="text/javascript" src="/javascripts/detallePeli.js"></script>
<script type="text/javascript" src="/javascripts/PelisPreferidas.js"></script>
</html>
