<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/stylesheets/extras.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <meta charset="utf-8">
    <title>The Movie Planet</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light idea" id="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01"> 
      <a class="navbar-brand" href="/movies/Home"> <img src="/images/logo.png" class="loguito" alt=""> </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/movies/ListadoDeGeneros">Genres<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#login" uk-toggle>My Reviews<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form method="get" action="/movies/ResultadoDelBuscador" class="uk-search uk-search-default buscar">
          <span class="uk-search-icon-flip" uk-search-icon></span>
          <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search" >
      </form>
    </div>
  </nav>
    </header>

   <h1 class="titulos uk-align-center">Top Rated Reviews</h1> 
         
            
            <% for(let i = 0; i < review.length; i++) { %>    
           
              <div class="uk-width-xlarge uk-align-center" >        
               <div class="uk-card uk-card-primary uk-margin" style="background-color: orange;">
                <div class="uk-card-badge uk-label uk-margin-bottom badgetop" style="color: white" >
                Score: <%= review[i].rating %>
                </div>
                <div class="uk-card-body">
                  <h1 class="nombreUser"><%=review[i].user.name %></h1>
                  <h5 class="uk-margin-top">Last update: <%=review[i].updated_at%></h5>
                  <hr class="uk-divider-small">
                  <h4 class="uk-margin-top"> <%= review[i].review_text %> </h4>
                  <a class="uk-text-primary uk-align-right" href="/movies/detallePeli?idDePeli=<%= review[i].movie_id %>">Go to movie </a>
                </div>
              </div> 
              </div>
       
            <% } %>
    <footer>
      <img src="/images/tmdblogo.png" class="tmdblogo">

      <div class="nombres">
      <ul>
        <li>SOL RODRIGUEZ ARANCIBIA</li>
        <br>
        <li>EMA JUAREZ</li>
      </ul>
    </div>
         </div>

   </footer>


  </body>
<script type="text/javascript" src="/javascripts/ResultadoDelBuscador.js"></script>
<script type="text/javascript" src="/javascripts/PelisPreferidas.js"></script>
</html>
